body {
    background-image: url(image/bck.png);
}

.dv1 {
    width: 50%;
    height: 50%;
}

.img {
    width: 10%;
    position: fixed;
    top: 0;
    left: 0;
}

.titel {
   position:fixed;
   top: -4vh;
   left: 33vw;
   font-size: 5vw;
}
.emoji {
    width: 10%;
    position: fixed;
    top: 10%;
    right: 7%;
}

.text {
    width: 20vw;
    height: 150vh;
    text-align: center;
    position: fixed;
    top: 15%;
    left: 32%;
}
.hedtext {
    width: 40vw;
    display: none;
}
.textarea {
    width: 40vw;
    height: 15vh;
    font-size: 1.5vw;
    box-sizing: border-box;
    border: 2px solid #999c9f;
    border-radius: 5px;
    resize: none;
    padding-left: 8svw;
    padding-top: 4svh;
    white-space:pre;
    
}
.point {
     width: 15%;
     position: fixed;
    left: 10vw;
     top: 16vh;
}
.label{
    font-size: 2vw;
    position: fixed;
    font-weight: 900;
    top: 36vh;
    left: 46vw;
}
.group{
    font-size: 1vw;
    border: solid 2px rgb(37, 194, 37);
    font-weight: 900;
    color: rgb(7, 7, 7);
    background-color: #c8e6ee;
    position: fixed;
    top: 43vh;
    left: 47.5svw;
}
.text2 {
    width: 90vw;
    height: 10vh;
    padding-left: 5%;
    position: absolute;
    top: 53%;
    left: 0;
}
.textarea2 {
color: #ffffff;
padding-top: 7vh;
padding-left: 6vw;
background-color: black;
width:90vw ;
height: 40vh;
box-sizing: border-box;
border-bottom: 2px solid gray;
border-radius: 8px 8px 20px 20px;
white-space: pre;
resize: none;
}
.bar{
    background-color: rgb(62,62,62);
    width: 90vw;
    height: 6vh;
    border-top: 2px solid gray;
    border-radius: 20px 20px 0px 0px;
    position: fixed;
    top: 50%;
   
}
#red{
    width: 4.5vw;
    height: 3.5vh;
    border-radius: 7%;
}

.red{
   border-radius: 8px;
    position: fixed;
    top: 51.5%;
    left: 7%;
}
.gren{
    border: 0px;
    font-size: 1vw;
    font-weight: 900;
    background-color: rgb(0, 255, 4);
    width: 4.5vw;
    height: 3.5vh;
    border-radius: 7%;
    position: fixed;
    top: 51.5%;
    left: 13%;
}

.error{
    color: #000000;
}
.status{
    font-size: 7vw;
   text-align: center;
}
.message{
    font-size: 3vw;
 text-align: center;

}
.go{
    border: 1px solid white;
    background-color: #ffffff;
    font-size: 2vw;
    color: #000;
    text-decoration: none;
    position: fixed;
    bottom: 10vh;
    left: 45vw;
    
}

@media screen and (max-width:1000px) {
    .img {
        width: 11%;
    }
    .titel {
        position:fixed;
        top: -2vh;
        left: 30vw;
        font-size: 6vw;
     }
   
    .point {
        width: 20%;
        left: 3vw;
        top: 15vh;
    }
    .text {
        left: 32%;
    }
    .textarea {
        width: 40vw;
        font-size: 2svw;
        padding-left: 5.5svw;
        padding-top: 2.7svh;
    }
    .label{
        font-size: 4vw;
        top: 36vh;
        left: 40vw;
    }
    .group{
        font-size: 2vw;
        top: 43vh;
        left: 44.5svw;
    }
.text2 {
    left: 0;
}
.textarea2 {
width:90svw ;
}
.bar{
    width: 90svw;
}
#red{
    width: 6vw;
    height: 3vh;
    border-radius: 10%;
}

.gren{
    font-size: 1.4vw;
    font-weight: 1000;
    width: 6svw;
    height: 3vh;
    left: 15%;
}
}

@media screen and (max-width:501px) {

    .img {
        width: 17%;
    } 
    .titel {
        position:fixed;
        top: 1vh;
        left: 23vw;
        font-size: 7vw;
     }
    .point {
      display: none;
    }
    .text {
        top: 15%;
        left: 0;
      
    }
    .textarea {
        width: 100svw;
        height: 15svh;
        font-size: 6svw;
        padding-top: 4svh;
    
    }
  
    .label{
        font-size: 7vw;
        top: 36vh;
        left: 30vw;
    }
    .group{
        font-size: 4vw;
        top: 43vh;
        left: 35.5svw;
    }
.text2 {
    width: 100vw;
    top: 60%;
    left: 3%;
}
.textarea2 {
width:90vw ;
}
.bar{
    width: 90svw;
    top: 54%;
}

#red{
    width: 15vw;
    height: 3.6vh;
    position: fixed;
    top: 55.5%;
    left: 10%;
}
.gren{
    font-size: 1.6vh;
    width: 20vw;
    height: 3.6vh;
    top: 55.5%;
    left: 29%;
}
}
@media screen and (max-width:200px) {
    .img{
        width: 45vw;
        top: 6vh;
        left: 26vw;
    }
    .titel {
        top: 0vh;
        left: 0vw;
        font-size: 12vw;
     }
    .point{
      display: none;
    }
    .text {
        top: 18%;
    }
    .textarea {
    
        height: 9vh;
        font-size: 6vw;
        padding-top: 2.8vh;
    }
 .label{
    font-size: 12vw;
    top: 35vh;
    left: 20vw;
}   
.group{
    font-size: 10vw;
    top: 39vh;
    left: 10vw;
}     
#red{
    width: 30vw;
    height: 4vh;
    border-radius: 100%;
    position: fixed;
    top: 55%;
    left: 10%;
}

.gren{
    width: 30vw;
    height: 4vh;
    font-size: 6vw;
    border-radius: 100%;
    top: 55%;
    left: 50%;
}
}
 
